<%- include('../_partials/top') %>
<section>
    <div class="container">
        <div class="heading-text heading-line text-center"><% if (ret.STATUS === "TXN_SUCCESS") {%>
            <h4 class="text-success">Thank you for donating!</h4>
            <% } else { %>
                <h4 class="text-danger">Your transaction was declined!</h4>
            <% } %>
            </div>
            <div class="mb-5"></div>
            <div class="table-responsive">
            <table class="table table-bordered nobottommargin">
            <thead>
            <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Transaction ID</th>
            <th>Amount</th>
            <th>Time</th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td><%= rer.name %></td>
            <td><%= rer.email %></td>
            <td><%= ret.ORDERID %></td>
            <td><%= ret.TXNAMOUNT %></td>
            <td><%= ret.TXNDATE %></td>
            </tr>
            </tbody>
            </table>
            </div>
            <button class="btn btn-dark" onclick="window.print()">Print</button>
    </div>
    </section>
<%- include('../_partials/bottom') %>